@import './modules/var';
@import './modules/navbar';
@import './modules/homepage';
@import './modules/footer';
@import './modules/needref';
@import  './modules/about';
@import './modules/user';
@import './modules/contact';
@import './modules/officialsDev';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
.hidden {
    display: none;
}
.ham-burger i{
    font-size: 2rem;
    color: #434343;
}

.ham-burger{
    display: none;
    margin-left: 20px;
}

.ham-burger:hover{
    cursor: pointer;
}

.ref-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-active{
    color: #ff9100;
}

@media only screen and (max-width: 768px)
{
    .ham-burger{
        display: block;
    }
}
